/*Select Universal*/
*{
	border: 1px solid red;
	margin: 10px;
}

/*Select de Etiqueta*/
header{
	background: blue;
}

section{
	background: purple;
}

/*Selector descendente*/
article h3{
	color: green;
}

/*selector Clase*/
.title-a{
	background: yellow
}

.title-b{
	background: salmon
}

/*Selector de Id*/
#header{
	border: 3px solid black;
}

#portada{
	border: 3px solid orange;
}

#guitarras{
	border: 3px solid brown;
}
